* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Nexmo Brand Color Theme
#148dcd Main Blue
#002744 Blue black
#deedf7 Faint gray
#f0537a Magenta - Accent color
#ffef74 Yellow - Accent color
*/
body {
  background: #148dcd;
  color: #013861;
}
#main {
  background: #deedf7;
}
.intro {
  background: #013861;
  color: #deedf7
} /* also .intro:before */
a {
  color: #ffef74;
}
input[type=submit] {
  background: #f0537a;
  color: #deedf7;
}
.fa-key {
  background: #002744;
  color: #deedf7;
}



html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
}
h1, h2, h3 {
  margin: 0;
  text-rendering: optimizeLegibility;
  color: #fff;
}
footer {
  max-width: 600px;
  margin: auto;
  text-align: right;
}
header {
  max-width: 600px;
  margin: 2em auto 1em;

  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
header h1 {
  font-size: 5.5vw;
  font-weight: normal;
}
header .logo {
  width: 80px;
  display: block;
}
form {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 6px;
  color: #333;
  font-size: 1.1em;
  padding: .75em 1em;
  margin-bottom: 1em;
}
input:not(:last-of-type) {
  margin-right: 0.5em;
}
input[type=tel] {
  width: 170px;
  border: 1px solid #89b8d2;
}
input[type=submit]:active {
  position: relative;
  top: 2px;
  left: 1px;
}
#main {
  max-width: 600px;
  margin: 1em auto 2em;
  padding: 1em 1.5em 1.5em;
  border-radius: 12px;
  box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.5);
}
.intro {
  position: relative;
  padding: 0 0.75em;
  line-height: 46px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 2em;
  font-weight: 600;
}
.intro:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50px;
  top: 46px;
  border: 10px solid;
  border-color: #013861 transparent transparent #013861;
}
.response {
  color: #f7d51b;
  font-style: italic;
  max-width: 600px;
  margin: 1em auto 2em;
}
section[section] {
  display: none; /* for IE < 11 */
}
.fa-key {
  border-radius: 50%;
  font-size: 2em;
  padding: 5px;
  margin-right: 0.5em;
  margin-top: 1.5em;
  position: relative;
  top: -20px;
}
.status {
  font-size: 1.5em;
}

@media (min-width: 50em) {
  header h1 {
    font-size: 40px;
  }
  header .logo {
    width: 120px;
  }
}
